#gfg{
    animation-name: color;
    animation-duration: 3s;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Times New Roman';
}
@keyframes color{
    0%{
        background-color: red;
    }
    50%{
        background-color: orange;
    }
    100%{
        background-color: brown;
    }
}
